astroid==2.4.2
autopep8==1.5.4
branca==0.4.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.3
data-cache==0.1.5
Flask==1.1.2
Folio==0.4
folium==0.12.1
GaskellFilms-Sasha-Tsepilova @ file:///D:/OP/mini-project/Project/dist/GaskellFilms_Sasha_Tsepilova-0.0.1-py3-none-any.whl
geographiclib==1.50
geopy==2.1.0
graphviz==0.14.2
h5py==2.10.0
idna==2.10
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numexpr==2.7.1
numpy==1.19.3
pandas==1.1.4
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
tables==3.6.1
termcolor==1.1.0
toml==0.10.1
urllib3==1.26.2
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
